USE [master]
GO
/****** Object:  Database [CINEMATIC]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE DATABASE [CINEMATIC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINEMATIC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CINEMATIC.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CINEMATIC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CINEMATIC_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINEMATIC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CINEMATIC]
GO
/****** Object:  Table [dbo].[BUTACAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BUTACAS](
	[CODBUTACA] [varchar](4) NOT NULL,
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[CODSAL] [numeric](18, 0) NOT NULL,
	[ESTADO] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATALOGOS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATALOGOS](
	[CODMOD] [numeric](18, 0) NOT NULL,
	[CODCAT] [numeric](18, 0) NOT NULL,
	[DSCAT] [varchar](128) NOT NULL,
	[PARENTC1] [numeric](18, 0) NULL,
	[PARENTC2] [numeric](18, 0) NULL,
	[CHILDC1] [numeric](18, 0) NULL,
	[CHILDC2] [numeric](18, 0) NULL,
	[ESTADO] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATSDETA]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATSDETA](
	[CODMOD] [numeric](18, 0) NOT NULL,
	[CODCAT] [numeric](18, 0) NOT NULL,
	[CODCOR] [numeric](18, 0) NOT NULL,
	[DSCCOR] [varchar](256) NOT NULL,
	[PARENTCD1] [numeric](18, 0) NULL,
	[PARENTCD2] [numeric](18, 0) NULL,
	[CHILDCD1] [numeric](18, 0) NULL,
	[CHILDCD2] [numeric](18, 0) NULL,
	[STATUS] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FUNCIONES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONES](
	[CODPEL] [numeric](18, 0) NOT NULL,
	[CODFUNC] [numeric](18, 0) NOT NULL,
	[IDPREC] [numeric](18, 0) NOT NULL,
	[MODFOR] [numeric](18, 0) NOT NULL,
	[CATFOR] [numeric](18, 0) NOT NULL,
	[CORFOR] [numeric](18, 0) NOT NULL,
	[MODCLA] [numeric](18, 0) NOT NULL,
	[CATCLA] [numeric](18, 0) NOT NULL,
	[CORCLA] [numeric](18, 0) NOT NULL,
	[HRAINICIO] [datetime] NOT NULL,
	[HRAFIN] [datetime] NOT NULL,
	[FECHA_FUNC] [datetime] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FUNCIONESCATDETASIM]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUNCIONESCATDETASIM](
	[CODPEL] [numeric](18, 0) NOT NULL,
	[CODFUNC] [numeric](18, 0) NOT NULL,
	[CODMOD] [numeric](18, 0) NOT NULL,
	[CODCAT] [numeric](18, 0) NOT NULL,
	[CODCOR] [numeric](18, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FUNCIONSALADETA]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FUNCIONSALADETA](
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[CODSAL] [numeric](18, 0) NOT NULL,
	[CODPEL] [numeric](18, 0) NOT NULL,
	[CODFUNC] [numeric](18, 0) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MODULOS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MODULOS](
	[CODMOD] [numeric](18, 0) NOT NULL,
	[DSCMOD] [varchar](128) NOT NULL,
	[URLMOD] [varchar](128) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAISES](
	[CODPAIS] [varchar](4) NOT NULL,
	[NOMBPAIS] [varchar](64) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PELICULAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PELICULAS](
	[CODPEL] [numeric](18, 0) NOT NULL,
	[CODPAIS] [varchar](4) NOT NULL,
	[CODPROD] [numeric](18, 0) NOT NULL,
	[DURACION] [real] NOT NULL,
	[ANO] [numeric](18, 0) NULL,
	[TAGLINE] [varchar](128) NULL,
	[RATING] [real] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PELICULASCATDETASIM]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PELICULASCATDETASIM](
	[CODPEL] [numeric](18, 0) NOT NULL,
	[CODMOD] [numeric](18, 0) NOT NULL,
	[CODCAT] [numeric](18, 0) NOT NULL,
	[CODCOR] [numeric](18, 0) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTORAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTORAS](
	[CODPROD] [numeric](18, 0) NOT NULL,
	[CODPAIS] [varchar](4) NULL,
	[NMBPROD] [varchar](64) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RESERVACIONES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RESERVACIONES](
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[CODTICKET] [numeric](18, 0) NOT NULL,
	[CODRESERVA] [numeric](18, 0) NOT NULL,
	[MONTOT] [float] NOT NULL,
	[FECHARESERVA] [datetime] NOT NULL,
	[OBSRESERVA] [varchar](256) NOT NULL,
	[NOMBRECLI] [varchar](64) NOT NULL,
	[APELLIOCLI] [varchar](64) NOT NULL,
	[DOCUMENTO] [varchar](15) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALAS](
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[CODSAL] [numeric](18, 0) NOT NULL,
	[NMBSALA] [varchar](8) NOT NULL,
	[CAPACIDAD] [int] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALASCATDETASIM]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALASCATDETASIM](
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[CODSAL] [numeric](18, 0) NOT NULL,
	[CODMOD] [numeric](18, 0) NOT NULL,
	[CODCAT] [numeric](18, 0) NOT NULL,
	[CODCOR] [numeric](18, 0) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUCURSALES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUCURSALES](
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[DIRECCION] [varchar](64) NOT NULL,
	[PBX] [varchar](32) NULL,
	[TEL] [varchar](32) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLESPPRECIOS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLESPPRECIOS](
	[IDPREC] [numeric](18, 0) NOT NULL,
	[MODFOR] [numeric](18, 0) NOT NULL,
	[CATFOR] [numeric](18, 0) NOT NULL,
	[CORFOR] [numeric](18, 0) NOT NULL,
	[MODCLA] [numeric](18, 0) NOT NULL,
	[CATCLA] [numeric](18, 0) NOT NULL,
	[CORCLA] [numeric](18, 0) NOT NULL,
	[VALOR] [float] NOT NULL,
	[ULTMODF] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TICKET_DETALLES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKET_DETALLES](
	[ID] [numeric](18, 0) NOT NULL,
	[CODTICKET] [numeric](18, 0) NOT NULL,
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[CODBUTACA] [varchar](4) NOT NULL,
	[BUT_CODPAIS] [varchar](4) NOT NULL,
	[BUT_CODSUC] [numeric](18, 0) NOT NULL,
	[CODSAL] [numeric](18, 0) NOT NULL,
	[CODPEL] [numeric](18, 0) NOT NULL,
	[CODFUNC] [numeric](18, 0) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[PORCDESCUENTO] [float] NULL,
	[MONTODESCUENTO] [float] NULL,
	[SUBTOTAL] [float] NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TICKETS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TICKETS](
	[CODPAIS] [varchar](4) NOT NULL,
	[CODSUC] [numeric](18, 0) NOT NULL,
	[CODTICKET] [numeric](18, 0) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[TOTAL_A_PAGAR] [float] NOT NULL,
	[FORMA_PAGO] [varchar](16) NOT NULL,
	[MONTODESC] [float] NULL,
	[PORCENTAJEDESC] [float] NULL,
	[OBSFACT] [varchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BUTACAS] ([CODBUTACA], [CODPAIS], [CODSUC], [CODSAL], [ESTADO]) VALUES (N'A1', N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), 0)
INSERT [dbo].[BUTACAS] ([CODBUTACA], [CODPAIS], [CODSUC], [CODSAL], [ESTADO]) VALUES (N'A2', N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), 0)
INSERT [dbo].[BUTACAS] ([CODBUTACA], [CODPAIS], [CODSUC], [CODSAL], [ESTADO]) VALUES (N'A3', N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), 0)
INSERT [dbo].[CATALOGOS] ([CODMOD], [CODCAT], [DSCAT], [PARENTC1], [PARENTC2], [CHILDC1], [CHILDC2], [ESTADO]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'Formatos de Pelicula', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[CATALOGOS] ([CODMOD], [CODCAT], [DSCAT], [PARENTC1], [PARENTC2], [CHILDC1], [CHILDC2], [ESTADO]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), N'Lenguajes de Peliculas', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CATALOGOS] ([CODMOD], [CODCAT], [DSCAT], [PARENTC1], [PARENTC2], [CHILDC1], [CHILDC2], [ESTADO]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), N'Subtitulos', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[CATSDETA] ([CODMOD], [CODCAT], [CODCOR], [DSCCOR], [PARENTCD1], [PARENTCD2], [CHILDCD1], [CHILDCD2], [STATUS]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'Formato 3D', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[CATSDETA] ([CODMOD], [CODCAT], [CODCOR], [DSCCOR], [PARENTCD1], [PARENTCD2], [CHILDCD1], [CHILDCD2], [STATUS]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), N'Formato 2D', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[CATSDETA] ([CODMOD], [CODCAT], [CODCOR], [DSCCOR], [PARENTCD1], [PARENTCD2], [CHILDCD1], [CHILDCD2], [STATUS]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), N'Formato XD', NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[FUNCIONES] ([CODPEL], [CODFUNC], [IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA], [HRAINICIO], [HRAFIN], [FECHA_FUNC]) VALUES (CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(N'2015-05-20 16:30:00.000' AS DateTime), CAST(N'2015-05-20 17:59:00.000' AS DateTime), CAST(N'2015-05-20 00:00:00.000' AS DateTime))
INSERT [dbo].[FUNCIONES] ([CODPEL], [CODFUNC], [IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA], [HRAINICIO], [HRAFIN], [FECHA_FUNC]) VALUES (CAST(140 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(N'2015-05-21 18:00:00.000' AS DateTime), CAST(N'2015-05-21 19:50:00.000' AS DateTime), CAST(N'2015-05-21 00:00:00.000' AS DateTime))
INSERT [dbo].[FUNCIONES] ([CODPEL], [CODFUNC], [IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA], [HRAINICIO], [HRAFIN], [FECHA_FUNC]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(N'2015-05-23 15:00:00.000' AS DateTime), CAST(N'2015-05-23 19:00:00.000' AS DateTime), CAST(N'2015-05-23 00:00:00.000' AS DateTime))
INSERT [dbo].[FUNCIONSALADETA] ([CODPAIS], [CODSUC], [CODSAL], [CODPEL], [CODFUNC]) VALUES (N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)))
INSERT [dbo].[FUNCIONSALADETA] ([CODPAIS], [CODSUC], [CODSAL], [CODPEL], [CODFUNC]) VALUES (N'SLV', CAST(20 AS Numeric(18, 0)), CAST(60 AS Numeric(18, 0)), CAST(140 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)))
INSERT [dbo].[FUNCIONSALADETA] ([CODPAIS], [CODSUC], [CODSAL], [CODPEL], [CODFUNC]) VALUES (N'SLV', CAST(20 AS Numeric(18, 0)), CAST(70 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)))
INSERT [dbo].[MODULOS] ([CODMOD], [DSCMOD], [URLMOD]) VALUES (CAST(10 AS Numeric(18, 0)), N'Puntos Venta', N'https://castaneda-pc:45512/primefacesCRUD/faces/puntosventas/index.xhtml')
INSERT [dbo].[MODULOS] ([CODMOD], [DSCMOD], [URLMOD]) VALUES (CAST(20 AS Numeric(18, 0)), N'Administracion', N'https://castaneda-pc:45512/primefacesCRUD/faces/administracion/index.xhtml')
INSERT [dbo].[MODULOS] ([CODMOD], [DSCMOD], [URLMOD]) VALUES (CAST(30 AS Numeric(18, 0)), N'BaseWeb', N'https://castaneda-pc:45512/primefacesCRUD/faces/BaseWeb/index.xhtml')
INSERT [dbo].[PAISES] ([CODPAIS], [NOMBPAIS]) VALUES (N'AUS', N'AUSTRALIA')
INSERT [dbo].[PAISES] ([CODPAIS], [NOMBPAIS]) VALUES (N'FRA', N'FRANCIA')
INSERT [dbo].[PAISES] ([CODPAIS], [NOMBPAIS]) VALUES (N'GER', N'ALEMANIA')
INSERT [dbo].[PELICULAS] ([CODPEL], [CODPAIS], [CODPROD], [DURACION], [ANO], [TAGLINE], [RATING]) VALUES (CAST(10 AS Numeric(18, 0)), N'USA', CAST(220 AS Numeric(18, 0)), 201, CAST(2015 AS Numeric(18, 0)), N'Avengers: Age of Ultron', 7.2)
INSERT [dbo].[PELICULAS] ([CODPEL], [CODPAIS], [CODPROD], [DURACION], [ANO], [TAGLINE], [RATING]) VALUES (CAST(20 AS Numeric(18, 0)), N'FRA', CAST(150 AS Numeric(18, 0)), 104, CAST(2015 AS Numeric(18, 0)), N'Pound of Flesh', 6.2)
INSERT [dbo].[PELICULAS] ([CODPEL], [CODPAIS], [CODPROD], [DURACION], [ANO], [TAGLINE], [RATING]) VALUES (CAST(30 AS Numeric(18, 0)), N'USA', CAST(220 AS Numeric(18, 0)), 136, CAST(2014 AS Numeric(18, 0)), N'Captain America: The Winter Soldier', 7.8)
INSERT [dbo].[PRODUCTORAS] ([CODPROD], [CODPAIS], [NMBPROD]) VALUES (CAST(10 AS Numeric(18, 0)), N'JPN', N'Japan Enlight Pictures')
INSERT [dbo].[PRODUCTORAS] ([CODPROD], [CODPAIS], [NMBPROD]) VALUES (CAST(20 AS Numeric(18, 0)), N'USA', N'Capitol Films')
INSERT [dbo].[PRODUCTORAS] ([CODPROD], [CODPAIS], [NMBPROD]) VALUES (CAST(30 AS Numeric(18, 0)), N'USA', N'DreamWorks Animation')
INSERT [dbo].[SALAS] ([CODPAIS], [CODSUC], [CODSAL], [NMBSALA], [CAPACIDAD]) VALUES (N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'Sala 1', 100)
INSERT [dbo].[SALAS] ([CODPAIS], [CODSUC], [CODSAL], [NMBSALA], [CAPACIDAD]) VALUES (N'SLV', CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), N'Sala 2', 80)
INSERT [dbo].[SALAS] ([CODPAIS], [CODSUC], [CODSAL], [NMBSALA], [CAPACIDAD]) VALUES (N'SLV', CAST(10 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), N'Sala 3', 80)
INSERT [dbo].[SUCURSALES] ([CODPAIS], [CODSUC], [DIRECCION], [PBX], [TEL]) VALUES (N'SLV', CAST(10 AS Numeric(18, 0)), N'Centro Comercial La Gran Vía, Edificio Cinemark, Antiguo Cuscatl', N'2250-5555', N'21000000')
INSERT [dbo].[SUCURSALES] ([CODPAIS], [CODSUC], [DIRECCION], [PBX], [TEL]) VALUES (N'SLV', CAST(20 AS Numeric(18, 0)), N'Centro Comercial Metrocentro, Edificio Cinemark, San Salvador', N'2250-5555', N'21000010')
INSERT [dbo].[SUCURSALES] ([CODPAIS], [CODSUC], [DIRECCION], [PBX], [TEL]) VALUES (N'SLV', CAST(30 AS Numeric(18, 0)), N'Centro Comercial Metrocentro, Edificio Cinemark, San Miguel', N'2250-5555', N'21000020')
INSERT [dbo].[TBLESPPRECIOS] ([IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA], [VALOR], [ULTMODF]) VALUES (CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), 3.75, NULL)
INSERT [dbo].[TBLESPPRECIOS] ([IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA], [VALOR], [ULTMODF]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), 6.5, CAST(N'2015-05-19 21:00:00.000' AS DateTime))
INSERT [dbo].[TBLESPPRECIOS] ([IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA], [VALOR], [ULTMODF]) VALUES (CAST(30 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(50 AS Numeric(18, 0)), CAST(30 AS Numeric(18, 0)), 4.25, CAST(N'2015-05-19 20:00:00.000' AS DateTime))
INSERT [dbo].[TICKET_DETALLES] ([ID], [CODTICKET], [CODPAIS], [CODSUC], [CODBUTACA], [BUT_CODPAIS], [BUT_CODSUC], [CODSAL], [CODPEL], [CODFUNC], [CANTIDAD], [PORCDESCUENTO], [MONTODESCUENTO], [SUBTOTAL]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'SLV', CAST(10 AS Numeric(18, 0)), N'A1', N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), 3, 0, 0, 3.5)
INSERT [dbo].[TICKET_DETALLES] ([ID], [CODTICKET], [CODPAIS], [CODSUC], [CODBUTACA], [BUT_CODPAIS], [BUT_CODSUC], [CODSAL], [CODPEL], [CODFUNC], [CANTIDAD], [PORCDESCUENTO], [MONTODESCUENTO], [SUBTOTAL]) VALUES (CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), N'SLV', CAST(10 AS Numeric(18, 0)), N'A2', N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(20 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), 1, 0, 0, 0)
INSERT [dbo].[TICKETS] ([CODPAIS], [CODSUC], [CODTICKET], [FECHA], [TOTAL_A_PAGAR], [FORMA_PAGO], [MONTODESC], [PORCENTAJEDESC], [OBSFACT]) VALUES (N'SLV', CAST(10 AS Numeric(18, 0)), CAST(10 AS Numeric(18, 0)), CAST(N'2015-05-21 00:00:00.000' AS DateTime), 10.5, N'10', 0, 0, N'Primera venta oficial')
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_BUTACAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[BUTACAS] ADD  CONSTRAINT [PK_BUTACAS] PRIMARY KEY NONCLUSTERED 
(
	[CODBUTACA] ASC,
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELSALASBUTACAS_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELSALASBUTACAS_FK] ON [dbo].[BUTACAS]
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CATALOGOS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[CATALOGOS] ADD  CONSTRAINT [PK_CATALOGOS] PRIMARY KEY NONCLUSTERED 
(
	[CODMOD] ASC,
	[CODCAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELMODULOCATALOGO_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELMODULOCATALOGO_FK] ON [dbo].[CATALOGOS]
(
	[CODMOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CATSDETA]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[CATSDETA] ADD  CONSTRAINT [PK_CATSDETA] PRIMARY KEY NONCLUSTERED 
(
	[CODMOD] ASC,
	[CODCAT] ASC,
	[CODCOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELCATALOGOCATSDETA_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELCATALOGOCATSDETA_FK] ON [dbo].[CATSDETA]
(
	[CODMOD] ASC,
	[CODCAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FUNCIONES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[FUNCIONES] ADD  CONSTRAINT [PK_FUNCIONES] PRIMARY KEY NONCLUSTERED 
(
	[CODPEL] ASC,
	[CODFUNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELPELICULASFUNCIONES_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELPELICULASFUNCIONES_FK] ON [dbo].[FUNCIONES]
(
	[CODPEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELTBLESPPRECIOSFUNCIONES_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELTBLESPPRECIOSFUNCIONES_FK] ON [dbo].[FUNCIONES]
(
	[IDPREC] ASC,
	[MODFOR] ASC,
	[CATFOR] ASC,
	[CORFOR] ASC,
	[MODCLA] ASC,
	[CATCLA] ASC,
	[CORCLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_FUNCIONESCATDETASIM]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[FUNCIONESCATDETASIM] ADD  CONSTRAINT [PK_FUNCIONESCATDETASIM] PRIMARY KEY NONCLUSTERED 
(
	[CODPEL] ASC,
	[CODFUNC] ASC,
	[CODMOD] ASC,
	[CODCAT] ASC,
	[CODCOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELFUNCIONESCATSDETA_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELFUNCIONESCATSDETA_FK] ON [dbo].[FUNCIONESCATDETASIM]
(
	[CODPEL] ASC,
	[CODFUNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_FUNCIONSALADETA]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[FUNCIONSALADETA] ADD  CONSTRAINT [PK_FUNCIONSALADETA] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODSAL] ASC,
	[CODPEL] ASC,
	[CODFUNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FUNCIONSALADETA2_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [FUNCIONSALADETA2_FK] ON [dbo].[FUNCIONSALADETA]
(
	[CODPEL] ASC,
	[CODFUNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELSALASFUNCIONES_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELSALASFUNCIONES_FK] ON [dbo].[FUNCIONSALADETA]
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MODULOS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[MODULOS] ADD  CONSTRAINT [PK_MODULOS] PRIMARY KEY NONCLUSTERED 
(
	[CODMOD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PAISES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[PAISES] ADD  CONSTRAINT [PK_PAISES] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PELICULAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[PELICULAS] ADD  CONSTRAINT [PK_PELICULAS] PRIMARY KEY NONCLUSTERED 
(
	[CODPEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELPAISESPELICULA_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELPAISESPELICULA_FK] ON [dbo].[PELICULAS]
(
	[CODPAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELPRODUCTORASPELICULAS_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELPRODUCTORASPELICULAS_FK] ON [dbo].[PELICULAS]
(
	[CODPROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PELICULASCATDETASIM]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[PELICULASCATDETASIM] ADD  CONSTRAINT [PK_PELICULASCATDETASIM] PRIMARY KEY NONCLUSTERED 
(
	[CODPEL] ASC,
	[CODMOD] ASC,
	[CODCAT] ASC,
	[CODCOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELPELICULASCATSDETASIM_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELPELICULASCATSDETASIM_FK] ON [dbo].[PELICULASCATDETASIM]
(
	[CODPEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PRODUCTORAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[PRODUCTORAS] ADD  CONSTRAINT [PK_PRODUCTORAS] PRIMARY KEY NONCLUSTERED 
(
	[CODPROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELPRODUCTORASPAISES_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELPRODUCTORASPAISES_FK] ON [dbo].[PRODUCTORAS]
(
	[CODPAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_RESERVACIONES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[RESERVACIONES] ADD  CONSTRAINT [PK_RESERVACIONES] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODTICKET] ASC,
	[CODRESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELRESERVACIONTICKET_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELRESERVACIONTICKET_FK] ON [dbo].[RESERVACIONES]
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODTICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_SALAS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[SALAS] ADD  CONSTRAINT [PK_SALAS] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_SALASCATDETASIM]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[SALASCATDETASIM] ADD  CONSTRAINT [PK_SALASCATDETASIM] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODSAL] ASC,
	[CODMOD] ASC,
	[CODCAT] ASC,
	[CODCOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [SALASCATDETASIM_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [SALASCATDETASIM_FK] ON [dbo].[SALASCATDETASIM]
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_SUCURSALES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[SUCURSALES] ADD  CONSTRAINT [PK_SUCURSALES] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC,
	[CODSUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELPAISESSUCURSALES_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELPAISESSUCURSALES_FK] ON [dbo].[SUCURSALES]
(
	[CODPAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TBLESPPRECIOS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[TBLESPPRECIOS] ADD  CONSTRAINT [PK_TBLESPPRECIOS] PRIMARY KEY NONCLUSTERED 
(
	[IDPREC] ASC,
	[MODFOR] ASC,
	[CATFOR] ASC,
	[CORFOR] ASC,
	[MODCLA] ASC,
	[CATCLA] ASC,
	[CORCLA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_TICKET_DETALLES]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[TICKET_DETALLES] ADD  CONSTRAINT [PK_TICKET_DETALLES] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODTICKET] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELBUTACADETALLETICKETS_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELBUTACADETALLETICKETS_FK] ON [dbo].[TICKET_DETALLES]
(
	[CODBUTACA] ASC,
	[BUT_CODPAIS] ASC,
	[BUT_CODSUC] ASC,
	[CODSAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELFUNCIONDETALLETICKETS_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELFUNCIONDETALLETICKETS_FK] ON [dbo].[TICKET_DETALLES]
(
	[CODPEL] ASC,
	[CODFUNC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELTICKETDETALLETICKET_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELTICKETDETALLETICKET_FK] ON [dbo].[TICKET_DETALLES]
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODTICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_TICKETS]    Script Date: 19/05/2015 09:38:32 p.m. ******/
ALTER TABLE [dbo].[TICKETS] ADD  CONSTRAINT [PK_TICKETS] PRIMARY KEY NONCLUSTERED 
(
	[CODPAIS] ASC,
	[CODSUC] ASC,
	[CODTICKET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RELSUCURSALTICKETS_FK]    Script Date: 19/05/2015 09:38:32 p.m. ******/
CREATE NONCLUSTERED INDEX [RELSUCURSALTICKETS_FK] ON [dbo].[TICKETS]
(
	[CODPAIS] ASC,
	[CODSUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BUTACAS]  WITH CHECK ADD  CONSTRAINT [FK_BUTACAS_RELSALASB_SALAS] FOREIGN KEY([CODPAIS], [CODSUC], [CODSAL])
REFERENCES [dbo].[SALAS] ([CODPAIS], [CODSUC], [CODSAL])
GO
ALTER TABLE [dbo].[BUTACAS] CHECK CONSTRAINT [FK_BUTACAS_RELSALASB_SALAS]
GO
ALTER TABLE [dbo].[CATALOGOS]  WITH CHECK ADD  CONSTRAINT [FK_CATALOGO_RELMODULO_MODULOS] FOREIGN KEY([CODMOD])
REFERENCES [dbo].[MODULOS] ([CODMOD])
GO
ALTER TABLE [dbo].[CATALOGOS] CHECK CONSTRAINT [FK_CATALOGO_RELMODULO_MODULOS]
GO
ALTER TABLE [dbo].[CATSDETA]  WITH CHECK ADD  CONSTRAINT [FK_CATSDETA_RELCATALO_CATALOGO] FOREIGN KEY([CODMOD], [CODCAT])
REFERENCES [dbo].[CATALOGOS] ([CODMOD], [CODCAT])
GO
ALTER TABLE [dbo].[CATSDETA] CHECK CONSTRAINT [FK_CATSDETA_RELCATALO_CATALOGO]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONE_RELPELICU_PELICULA] FOREIGN KEY([CODPEL])
REFERENCES [dbo].[PELICULAS] ([CODPEL])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [FK_FUNCIONE_RELPELICU_PELICULA]
GO
ALTER TABLE [dbo].[FUNCIONES]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONE_RELTBLESP_TBLESPPR] FOREIGN KEY([IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA])
REFERENCES [dbo].[TBLESPPRECIOS] ([IDPREC], [MODFOR], [CATFOR], [CORFOR], [MODCLA], [CATCLA], [CORCLA])
GO
ALTER TABLE [dbo].[FUNCIONES] CHECK CONSTRAINT [FK_FUNCIONE_RELTBLESP_TBLESPPR]
GO
ALTER TABLE [dbo].[FUNCIONESCATDETASIM]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONE_FUNCIONES_CATSDETA] FOREIGN KEY([CODMOD], [CODCAT], [CODCOR])
REFERENCES [dbo].[CATSDETA] ([CODMOD], [CODCAT], [CODCOR])
GO
ALTER TABLE [dbo].[FUNCIONESCATDETASIM] CHECK CONSTRAINT [FK_FUNCIONE_FUNCIONES_CATSDETA]
GO
ALTER TABLE [dbo].[FUNCIONESCATDETASIM]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONE_RELFUNCIO_FUNCIONE] FOREIGN KEY([CODPEL], [CODFUNC])
REFERENCES [dbo].[FUNCIONES] ([CODPEL], [CODFUNC])
GO
ALTER TABLE [dbo].[FUNCIONESCATDETASIM] CHECK CONSTRAINT [FK_FUNCIONE_RELFUNCIO_FUNCIONE]
GO
ALTER TABLE [dbo].[FUNCIONSALADETA]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONS_FUNCIONSA_FUNCIONE] FOREIGN KEY([CODPEL], [CODFUNC])
REFERENCES [dbo].[FUNCIONES] ([CODPEL], [CODFUNC])
GO
ALTER TABLE [dbo].[FUNCIONSALADETA] CHECK CONSTRAINT [FK_FUNCIONS_FUNCIONSA_FUNCIONE]
GO
ALTER TABLE [dbo].[FUNCIONSALADETA]  WITH CHECK ADD  CONSTRAINT [FK_FUNCIONS_RELSALASF_SALAS] FOREIGN KEY([CODPAIS], [CODSUC], [CODSAL])
REFERENCES [dbo].[SALAS] ([CODPAIS], [CODSUC], [CODSAL])
GO
ALTER TABLE [dbo].[FUNCIONSALADETA] CHECK CONSTRAINT [FK_FUNCIONS_RELSALASF_SALAS]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_RELPAISES_PAISES] FOREIGN KEY([CODPAIS])
REFERENCES [dbo].[PAISES] ([CODPAIS])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_PELICULA_RELPAISES_PAISES]
GO
ALTER TABLE [dbo].[PELICULAS]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_RELPRODUC_PRODUCTO] FOREIGN KEY([CODPROD])
REFERENCES [dbo].[PRODUCTORAS] ([CODPROD])
GO
ALTER TABLE [dbo].[PELICULAS] CHECK CONSTRAINT [FK_PELICULA_RELPRODUC_PRODUCTO]
GO
ALTER TABLE [dbo].[PELICULASCATDETASIM]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_PELICULAS_CATSDETA] FOREIGN KEY([CODMOD], [CODCAT], [CODCOR])
REFERENCES [dbo].[CATSDETA] ([CODMOD], [CODCAT], [CODCOR])
GO
ALTER TABLE [dbo].[PELICULASCATDETASIM] CHECK CONSTRAINT [FK_PELICULA_PELICULAS_CATSDETA]
GO
ALTER TABLE [dbo].[PELICULASCATDETASIM]  WITH CHECK ADD  CONSTRAINT [FK_PELICULA_RELPELICU_PELICULA] FOREIGN KEY([CODPEL])
REFERENCES [dbo].[PELICULAS] ([CODPEL])
GO
ALTER TABLE [dbo].[PELICULASCATDETASIM] CHECK CONSTRAINT [FK_PELICULA_RELPELICU_PELICULA]
GO
ALTER TABLE [dbo].[PRODUCTORAS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_RELPRODUC_PAISES] FOREIGN KEY([CODPAIS])
REFERENCES [dbo].[PAISES] ([CODPAIS])
GO
ALTER TABLE [dbo].[PRODUCTORAS] CHECK CONSTRAINT [FK_PRODUCTO_RELPRODUC_PAISES]
GO
ALTER TABLE [dbo].[RESERVACIONES]  WITH CHECK ADD  CONSTRAINT [FK_RESERVAC_RELRESERV_TICKETS] FOREIGN KEY([CODPAIS], [CODSUC], [CODTICKET])
REFERENCES [dbo].[TICKETS] ([CODPAIS], [CODSUC], [CODTICKET])
GO
ALTER TABLE [dbo].[RESERVACIONES] CHECK CONSTRAINT [FK_RESERVAC_RELRESERV_TICKETS]
GO
ALTER TABLE [dbo].[SALAS]  WITH CHECK ADD  CONSTRAINT [FK_SALAS_RELSUCURS_SUCURSAL] FOREIGN KEY([CODPAIS], [CODSUC])
REFERENCES [dbo].[SUCURSALES] ([CODPAIS], [CODSUC])
GO
ALTER TABLE [dbo].[SALAS] CHECK CONSTRAINT [FK_SALAS_RELSUCURS_SUCURSAL]
GO
ALTER TABLE [dbo].[SALASCATDETASIM]  WITH CHECK ADD  CONSTRAINT [FK_SALASCAT_SALASCATD_CATSDETA] FOREIGN KEY([CODMOD], [CODCAT], [CODCOR])
REFERENCES [dbo].[CATSDETA] ([CODMOD], [CODCAT], [CODCOR])
GO
ALTER TABLE [dbo].[SALASCATDETASIM] CHECK CONSTRAINT [FK_SALASCAT_SALASCATD_CATSDETA]
GO
ALTER TABLE [dbo].[SALASCATDETASIM]  WITH CHECK ADD  CONSTRAINT [FK_SALASCAT_SALASCATD_SALAS] FOREIGN KEY([CODPAIS], [CODSUC], [CODSAL])
REFERENCES [dbo].[SALAS] ([CODPAIS], [CODSUC], [CODSAL])
GO
ALTER TABLE [dbo].[SALASCATDETASIM] CHECK CONSTRAINT [FK_SALASCAT_SALASCATD_SALAS]
GO
ALTER TABLE [dbo].[SUCURSALES]  WITH CHECK ADD  CONSTRAINT [FK_SUCURSAL_RELPAISES_PAISES] FOREIGN KEY([CODPAIS])
REFERENCES [dbo].[PAISES] ([CODPAIS])
GO
ALTER TABLE [dbo].[SUCURSALES] CHECK CONSTRAINT [FK_SUCURSAL_RELPAISES_PAISES]
GO
ALTER TABLE [dbo].[TICKET_DETALLES]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_D_RELBUTACA_BUTACAS] FOREIGN KEY([CODBUTACA], [BUT_CODPAIS], [BUT_CODSUC], [CODSAL])
REFERENCES [dbo].[BUTACAS] ([CODBUTACA], [CODPAIS], [CODSUC], [CODSAL])
GO
ALTER TABLE [dbo].[TICKET_DETALLES] CHECK CONSTRAINT [FK_TICKET_D_RELBUTACA_BUTACAS]
GO
ALTER TABLE [dbo].[TICKET_DETALLES]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_D_RELFUNCIO_FUNCIONE] FOREIGN KEY([CODPEL], [CODFUNC])
REFERENCES [dbo].[FUNCIONES] ([CODPEL], [CODFUNC])
GO
ALTER TABLE [dbo].[TICKET_DETALLES] CHECK CONSTRAINT [FK_TICKET_D_RELFUNCIO_FUNCIONE]
GO
ALTER TABLE [dbo].[TICKET_DETALLES]  WITH CHECK ADD  CONSTRAINT [FK_TICKET_D_RELTICKET_TICKETS] FOREIGN KEY([CODPAIS], [CODSUC], [CODTICKET])
REFERENCES [dbo].[TICKETS] ([CODPAIS], [CODSUC], [CODTICKET])
GO
ALTER TABLE [dbo].[TICKET_DETALLES] CHECK CONSTRAINT [FK_TICKET_D_RELTICKET_TICKETS]
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD  CONSTRAINT [FK_TICKETS_RELSUCURS_SUCURSAL] FOREIGN KEY([CODPAIS], [CODSUC])
REFERENCES [dbo].[SUCURSALES] ([CODPAIS], [CODSUC])
GO
ALTER TABLE [dbo].[TICKETS] CHECK CONSTRAINT [FK_TICKETS_RELSUCURS_SUCURSAL]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código que identifica una butaca dentro de una sala..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUTACAS', @level2type=N'COLUMN',@level2name=N'CODBUTACA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUTACAS', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUTACAS', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de sala/auditorio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUTACAS', @level2type=N'COLUMN',@level2name=N'CODSAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Atributo de un objeto butaca que indica si esta disponible(1), ocupado(0) o inhabilitado (-1)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUTACAS', @level2type=N'COLUMN',@level2name=N'ESTADO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene la lista de asientos dentro de todas las salas de la compañia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'BUTACAS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo que identifica cada modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'CODMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo que identifica cada catálogo dentro de un modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'CODCAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción general del contenido/propósito catálogo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'DSCAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un catálogo padre(Jerarquia 1), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'PARENTC1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un catálogo padre(Jerarquia 2), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'PARENTC2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un catálogo derivado(Jerarquia 1), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'CHILDC1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un catálogo derivado(Jerarquia 2), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'CHILDC2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Atributo de un objeto butaca que indica si esta disponible(1), ocupado(0) o inhabilitado (-1)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS', @level2type=N'COLUMN',@level2name=N'ESTADO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene los catalogos de información clasificados por modulos.
   ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATALOGOS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo que identifica cada modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'CODMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo que identifica cada catálogo dentro de un modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'CODCAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo del detalle dentro de un catálogo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'CODCOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción del correlativo dentro del catálogo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'DSCCOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un detalle de catálogo padre(Jerarquia 1), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'PARENTCD1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un detalle de catálogo padre(Jerarquia 2), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'PARENTCD2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un detalle de catálogo derivado(Jerarquia 1), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'CHILDCD1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo que almacena una referencia de un detalle de catálogo derivado(Jerarquia 2), sirve para no crear una relación recursiva y manejar la recursión desde la aplicación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'CHILDCD2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el catálogo esta habilitado dentro del sistema o no.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene los detalles que conforman cada uno de los catálogos dentro del sistema.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CATSDETA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de peliculas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'CODPEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de una función.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'CODFUNC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo único que identifca el precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'IDPREC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modulo del formato asociado al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'MODFOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Catalogo del formato asociado al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'CATFOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Correlativo del formato asociado al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'CORFOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modulo de la clasificación (de personas) asociada al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'MODCLA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Catálogo de clasificación asociada al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'CATCLA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de la clasificación asociada al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'CORCLA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hora de inicio prevista para la función,' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'HRAINICIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hora de fin de la función.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'HRAFIN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de la función.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES', @level2type=N'COLUMN',@level2name=N'FECHA_FUNC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacenara las funciones de peliculas y sus detalles definidos dentro de la compañia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de peliculas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONESCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODPEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de una función.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONESCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODFUNC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo que identifica cada modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONESCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo que identifica cada catálogo dentro de un modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONESCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODCAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo del detalle dentro de un catálogo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONESCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODCOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Futura cross table que rompe la relación de muchos a muchos entre la tabla (Catsdeta) detalles de catalogo y la tabla funciones.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONESCATDETASIM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONSALADETA', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONSALADETA', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de sala/auditorio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONSALADETA', @level2type=N'COLUMN',@level2name=N'CODSAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de peliculas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONSALADETA', @level2type=N'COLUMN',@level2name=N'CODPEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de una función.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONSALADETA', @level2type=N'COLUMN',@level2name=N'CODFUNC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Futura cross table que rompe la relación de muchos a muchos entre la tabla Funciones y la tabla Salas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FUNCIONSALADETA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo que identifica cada modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MODULOS', @level2type=N'COLUMN',@level2name=N'CODMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Descripción del propósito y/o contenido del modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MODULOS', @level2type=N'COLUMN',@level2name=N'DSCMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Url a la que apunta el modulo dentro del servidor de aplicaciones.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MODULOS', @level2type=N'COLUMN',@level2name=N'URLMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene todos y cada uno de los diversos modulos que componen el sistema en general.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MODULOS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAISES', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAISES', @level2type=N'COLUMN',@level2name=N'NOMBPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene la lista de paises en las que se encuentran distribuidas las sucursales y los paises de origen de las productoras existentes...' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PAISES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de peliculas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS', @level2type=N'COLUMN',@level2name=N'CODPEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de la compañia productora.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS', @level2type=N'COLUMN',@level2name=N'CODPROD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tiempo de duración de la pelicula.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS', @level2type=N'COLUMN',@level2name=N'DURACION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Año en que fue lanzada la pelicula.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS', @level2type=N'COLUMN',@level2name=N'ANO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Frase representativa de la pelicula (slogan).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS', @level2type=N'COLUMN',@level2name=N'TAGLINE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rating otorgado por la IMDB a la pelicula.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS', @level2type=N'COLUMN',@level2name=N'RATING'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene todas las peliculas que se añaden a la cartelera.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULAS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de peliculas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODPEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo que identifica cada modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo que identifica cada catálogo dentro de un modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODCAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo del detalle dentro de un catálogo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODCOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Futura cross table que rompe la relación de muchos a muchos entre la tabla de detalles de catálogo (catsdeta) y la tabla de peliculas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PELICULASCATDETASIM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de la compañia productora.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRODUCTORAS', @level2type=N'COLUMN',@level2name=N'CODPROD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRODUCTORAS', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de la compañia productora.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRODUCTORAS', @level2type=N'COLUMN',@level2name=N'NMBPROD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla de las compañias productoras de peliculas que sirven como proveedor al cine.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PRODUCTORAS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo del ticket.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'CODTICKET'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código de reserva.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'CODRESERVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monto total que fue cancelado por la reserva.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'MONTOT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en que se realizó la reserva.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'FECHARESERVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Observación opcional / Detalles adicionales asociados con la reserva.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'OBSRESERVA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre del cliente a nombre de quien se hizo la reserva.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'NOMBRECLI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Apellido del cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'APELLIOCLI'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Documento de identificación del cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES', @level2type=N'COLUMN',@level2name=N'DOCUMENTO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Almacena reservaciones que un cliente realiza con un máximo de 7 dias de anticipación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RESERVACIONES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALAS', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALAS', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de sala/auditorio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALAS', @level2type=N'COLUMN',@level2name=N'CODSAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre alusivo a la sala (E.G: Sala A, Sala B)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALAS', @level2type=N'COLUMN',@level2name=N'NMBSALA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Capacidad de personas que puede contener la sala.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALAS', @level2type=N'COLUMN',@level2name=N'CAPACIDAD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene las salas dentro de todas las sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALAS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de sala/auditorio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODSAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo que identifica cada modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODMOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo que identifica cada catálogo dentro de un modulo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODCAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo correlativo del detalle dentro de un catálogo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALASCATDETASIM', @level2type=N'COLUMN',@level2name=N'CODCOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Futura cross table que rompe la relación de muchos a muchos entre la tabla (Catsdeta) detalles de catalogo y la tabla Salas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SALASCATDETASIM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUCURSALES', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUCURSALES', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dirección exacta de la sucursal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUCURSALES', @level2type=N'COLUMN',@level2name=N'DIRECCION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PBX de la sucursal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUCURSALES', @level2type=N'COLUMN',@level2name=N'PBX'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Número de contacto principal de la sucursal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUCURSALES', @level2type=N'COLUMN',@level2name=N'TEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contiene la lista de sucursales de todos los paises.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUCURSALES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo único que identifca el precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'IDPREC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modulo del formato asociado al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'MODFOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Catalogo del formato asociado al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'CATFOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Correlativo del formato asociado al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'CORFOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Modulo de la clasificación (de personas) asociada al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'MODCLA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Catálogo de clasificación asociada al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'CATCLA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de la clasificación asociada al precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'CORCLA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Precio en unidades monetarias. ($)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'VALOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ultima fecha en la que se modifico el precio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS', @level2type=N'COLUMN',@level2name=N'ULTMODF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla especializada de precios dónde se almacena a que formato y a que categoría pertenece el precio, a través de sus detalles de catálogo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TBLESPPRECIOS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador génerico para detalles de ticke (# linea)t.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo del ticket.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CODTICKET'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código que identifica una butaca dentro de una sala..' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CODBUTACA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'BUT_CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'BUT_CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo de sala/auditorio.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CODSAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de peliculas.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CODPEL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo de una función.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CODFUNC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cantidad de boletos.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'CANTIDAD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Porcentaje de descuento aplicable para una función en especifíco.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'PORCDESCUENTO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monto de descuento aplicable para una función en especifíco.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'MONTODESCUENTO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Subtotal a pagar en concepto de las unidades adquiridas por función dentro de una compra.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES', @level2type=N'COLUMN',@level2name=N'SUBTOTAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Detalle de un ticket (linea por linea) que indica cantidad, subtotal, etc.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKET_DETALLES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Codigo del pais.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'CODPAIS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave primaria que identifica sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'CODSUC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código correlativo del ticket.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'CODTICKET'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en la que fue emitido el ticket.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'FECHA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Total a pagar por el cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'TOTAL_A_PAGAR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Forma de pago seleccionada (Tarjeta Crédito, Efectivo).' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'FORMA_PAGO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Monto de descuento aplicable en la compra total.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'MONTODESC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Porcentaje de descuento aplicable en la compra total.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'PORCENTAJEDESC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Observación o información adicional de la factura.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS', @level2type=N'COLUMN',@level2name=N'OBSFACT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla destinada al almacenamiento de los tickets de compra generados en todas las sucursales.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TICKETS'
GO
USE [master]
GO
